  <div id = "blog_post">
    <h2 id = "blog_post_title">Brave New World, by Aldous Huxley</h2>
    <hr id = #title_hr>
   <p id = "blog_post_text">
     Rationally optimizing society. An endeavor that only makes sense in the abstract world of politics and theoretical
       societal structures, but fails at the level of a contradictory human. Brave New World is a dystopian novel that
       takes seriously the progressive arguments of techno-futurists in the early 20th century and takes them to their
       horrifying conclusions.
  </p>
  </div>